In [7]:
#6

num = list(map(int,input("Enter Numbers: ").split()))
l = max(num)
s = min(num)
a = sum(num)
avg = a / len(num)
n = int(input("Enter number to count: "))
c = num.count(n)
print(f"Largest {l}\nSmallest {s}\nSum {a}\nAverage {avg}\nNo. of Occurence {c}")

Enter Numbers:  1 2 3 4 5 5 6 7 8 9 10
Enter number to count:  5

Largest 10
Smallest 1
Sum 60
Average 5.454545454545454
No. of Occurence 2

In [9]:
#7

t = (1, 2, 3, 4, 5)
t[2] = 8
print("This will give error since tuples are immutable due to which they can't be altered")

TypeError: 'tuple' object does not support item assignment

In [17]:
#8

win = {1975: "West Indies", 1979: "West Indies", 1983: "India", 1987: "Australia", 1992: "Pakistan", 1996: "Sri Lanka", 1989: "Australia",
       2003: "Australia", 2007: "Australia", 2011: "India", 2015: "Australia", 2019: "England", 2023: "Australia"}
l = list(win.values())
s = set(l)
h = 0
m = "None"
for i in s:
    c = 0
    for j in l:
        if (i == j):
            c += 1
        if (c > h):
            m = i
            h = c
print(m, " got the most wins")
print("A unique list of countries is given below: ")
print(s)

Australia  got the most wins
A unique list of countries is given below:
{'Australia', 'West Indies', 'Sri Lanka', 'India', 'England', 'Pakistan'}

In [23]:
#9

s = input("Enter a string: ")
l = list(s.split())
st = set(l)
r = [l.count(word) for word in st]
d = {word : count for word, count in zip(st, r)}
print(d)

Enter a string:  Hi Hi Hi Hello Hello Bye!

{'Bye!': 1, 'Hi': 3, 'Hello': 2}

In [27]:
#10

set1 = set(map(int, input("Enter number into first set: ").split()))
set2 = set(map(int, input("Enter number into second set: ").split()))
u = set1 | set2
i = set1 & set2
d = set1 - set2
print(f"Union is: {u}\nIntersection is: {i}\nDifference is: {d}")

Enter number into first set:  1 2 3 4 5
Enter number into second set:  3 4 5 6 7

Union is: {1, 2, 3, 4, 5, 6, 7}
Intersection is: {3, 4, 5}
Difference is: {1, 2}